doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Security-Policy" content="connect-src https://api.stripe.com; frame-src https://js.stripe.com https://hooks.stripe.com ;script-src 'self' https://js.stripe.com;")
        


        link(rel="stylesheet", href="/css/style.css")
        link(rel="shortcut icon", href="/img/favicon.png", type="image/png")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
        title Natours | #{title}
  
    body 
        include _header


        block content 
            h1 This is a placeholder


        include _footer
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
        //- script(src='/js/login.js')
        //- script(src='/js/mapbox.js')
        script(src='https://js.stripe.com/v3/')
        script(src='/js/bundle.js')
